#text-output {
  min-height: 200px;
  border-radius: 3px;
  padding: 10px;
  word-wrap: break-word;
  text-align: left;
  background-color: #ffffff;
}

#text-input {
  min-height: 200px;
}

.editor .col {
  max-width: 50%;
  flex-basis: 50%;
}

.bold {
  font-weight: bold;
}

.italic {
  font-style: italic;
}

.underline {
  text-decoration: underline;
}

html
{
  overflow:hidden;
}

body
{
  background: url("../Images/bg.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
}


footer .SocialIcons2{
  width: 100%;
 
}


footer .SocialIcons2 ul{

 display: flex;
 justify-content: center;
 align-items: center;
 


}

footer .SocialIcons2 ul li{
  list-style: none;
  margin-right: 25px;
  width: 30px;
  height: 20px;
  cursor: pointer;
}

#colorInputColor{
  height:25px;
  width: 25px;
  border: 1px solid transparent;
  outline: none;
  border-radius: 50%;
}


#colorbgInputColor{

  height:25px;
  width: 25px;
  border: 1px solid transparent;
  outline: none;
  border-radius: 50%;
}